body {
  background: #222;
  font: 10px sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

text {
    color: white;
  text-anchor: middle;
  font: 10px;
  font-weight: 100;
}
h1{
  color:white;
  font-size:50px;
  text-align:center;
  font-weight: 100;
}

#credit {
  position: absolute;
  right: 4px;
  bottom: 4px;
  color: #ddd;
}

#credit a {
  color: #fff;
  font-weight: bold;
}

#my-legend{
    color:white;
    z-index: -1;
    position: absolute;
}
  #my-legend #legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    color:white;
    }
  #my-legend #legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  #my-legend #legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
  #my-legend ul#legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
  #my-legend #legend-source {
    font-size: 70%;
    color: white;
    clear: both;
    }
  #my-legend a {
    color: white;
    }
    #jennifer span{
      background: rgb(12,20,23);
    }
