/**************************************************************************************************
	Mobile Media Queries
	Supports iphone 4 sizes and up. 
********************************************************************************************************/

@media (max-width: 640px) {
  h1 {
    font-size:30px;
  }
  #login-form{
  	font-size:12px;
  }
  #optionsList{
  	display:block;
  	font-size:12px;

  }
}
@media (min-width: 640px) {
  h1 {
    font-size:50px;
  }
  #login-form{
  	font-size:18px;
  }
}

@media (min-width: 800px) {
	  #optionsList{
	  	display:flex;
	  	font-size:20px;
	  }

}


/*********************************************************************************************************/
body {
	background: #222;
	font: 10px sans-serif;
	margin: 0px 120px 150px 120px;
	position: relative;
	font-family: 'Helvetica Neue', sans-serif;
	color: white;
}
.container{
	margin-top:80px;
}
#svgContainer{
	/*margin-left:120px;*/
}
svg{
	background-color:rgba(255, 255, 255, 0.17);
	border-radius:500px;
	position:relative;
	display: inline-block;
	margin-left:15px;
}
text {
	color: white;
	text-anchor: middle;
	font-weight: 400;
}
h1{
	color:white;
	text-align:center;
	font-weight: 100;
}
h3{
	color:white;
	font-size:20px;
	text-align:center;
	font-weight: 100;
}
.svgDiv{
	display:inline-block;
	margin-bottom: 40px;
	margin-right:10px;
	margin-left:10px;
	padding-bottom:25px;
}
.svgDiv h3{
	line-height: 0;
}
#credit {
	position: absolute;
	right: 4px;
	bottom: 4px;
	color: #ddd;
}

#credit a {
	color: #fff;
	font-weight: bold;
}

#my-legend{
		color:white;
		z-index: -1;
		position: absolute;
		font-weight:100;
}
#my-legend #legend-title {
	text-align: left;
	margin-bottom: 5px;
	font-size: 22px;
	color:white;
}
#my-legend #legend-scale ul {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	float: left;
	list-style: none;
}
#my-legend #legend-scale ul li {
	font-size: 18px;
	list-style: none;
	margin-left: 0;
	line-height: 18px;
	margin-bottom: 2px;
}
#my-legend ul#legend-labels li span {
	display: block;
	float: left;
	height: 18px;
	width:32px;
	margin-right: 5px;
	margin-left: 0;
	border: 1px solid white;
}
#my-legend #legend-source {
	font-size: 70%;
	color: white;
	clear: both;
}
#my-legend a {
	color: white;
}

#optionsList{
}
#optionsList > button{
	flex-grow: 1;
	margin: 5px;
}
.load-btn{
	border: 0;
	background-color: white;
	font-weight: 200;
	font-size: 20px;
	padding: 0px 30px;
	outline: none;
	color: black;
}
.load-btn:hover{
	background-color: dimgray;
}
.load-btn:active{
	background-color: black
}

#login-form{
	display: none;
	margin: 5px;
	padding: 10px;
	background-color: gray;
	color: black;
}

#results{
	display: none;
}
#big-stats{
	font-size: 24px;
	text-align: center;
}

#top-list{
	display: flex;
}
.col{
	padding-left: 15%;
}
#top-list .col{
	flex-grow: 1;
}
.list-title{
	font-size: 20px;
	font-weight: 200;
	border-bottom: 1px solid whitesmoke;
}
#top-list li{
	list-style-type: none;
	font-size: 14px;
	font-weight: 200;
}
#monthContainer, #svgContainer, #contactContainer{
	text-align: center;
}
.fast{
	color: orange;
}
.slow{
	color: lightgreen;
}


