body {
  background: #222;
  font: 10px sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

text {
    color: white;
  text-anchor: middle;
  font: 10px;
  font-weight: 100;
}
h1{
  color:white;
  font-size:50px;
  text-align:center;
  font-weight: 100;
}

#credit {
  position: absolute;
  right: 4px;
  bottom: 4px;
  color: #ddd;
}

#credit a {
  color: #fff;
  font-weight: bold;
}

